.container {
	width: 250px;
	height: 98vh;
	background: rgb(48, 48, 48);
	padding: 10px;
	display: none;
}

.container * {
	margin-bottom: 15px;
}

input {
	width: 90%;
	padding: 10px;
}

select {
	width: 100%;
	padding: 10px;
}
