.container {
  background: #eee;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;

}

a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  border: 2px transparent solid;
}

a:hover {
  border: 2px green solid;
}

img {
  width: 370px;
  margin-bottom: 5px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

span {
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
}