.container {
  background: #eee;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;

}

img {
  width: 370px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

span {
  font-size: 12px;
  font-weight: 600;
}