.container {
	width: 86%;
	height: 100vh;
	position: relative;
}

section {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(59, 57, 57);
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}